@import "../bower_components/bootstrap/less/bootstrap.less";

@import "../bower_components/bootstrap-glyphicons/less/bootstrap-glyphicons.less";

.browsehappy {
  margin: 0.2em 0; 
  background: #ccc; 
  color: #000; 
  padding: 0.2em 0; 
}

.jumbotron {
  margin: 50px auto 0 auto;
}

#header {
	opacity:0.8; 
	background: #fff;
	height: auto;

	.title { 
		position: absolute;
		left: 50%; margin-left: -4em;
		margin-top: 1em;
		font-size: 24pt;
	}
	.logo {
	  background: url(../images/logo.ch.jpeg) no-repeat top left;
	  min-height: 88px;
	}
}

body { background:grey;}

@media screen and (max-width: 768px) { 

	#header {
		.title { display:none; }
		.logo { 
			background-image: url(../images/logo-small.ch.png);
			background-position: 0 5px;
			background-size: auto 40px;
			min-height: 0px;
			padding-left: 50px;
		}
	}
}

body #map {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}