.d-photo {
    background-repeat:no-repeat;
    background-position: center center;
}


#header #webHeaderLinks {
    float: right;
    width: 600px;
    height: 100px;
    text-align: right;
    background: url(../images/header_amt.jpg) no-repeat top right !important;
}

.htmlpopup-container .htmlpopup-header { display: none; }