node_modules
dist
docs
.tmp
app/bower_components
app/fonts/
app/styles/*.css
app/src/build/
app/src/ga/
libpeerconnection.log

*.sublime-workspace
.~lock*

app/data/*.xlsx
app/data/photos/*.jpg

release.sh

.installed.cfg
*.pyc
*.ini
*.mo
*.iml
*.swp
*~
buildout/bin/
buildout/develop-eggs/
buildout/eggs/
buildout/parts/
swissguesser.egg-info
swissguesser/static/bower_components
MANIFEST
apache/*.conf
swissguesser/static/storymap5/data/photos/*.jpg
swissguesser/static/storymap9/data/photos/*.jpg
swissguesser/static/storymap10/data/photos/*.jpg
