
@media screen and (max-width: 1024px){
    .d-photo {
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;; /* fit to available space, will only work with css3 */
   }
}

@media screen and (min-width: 1024px){
    .d-photo {
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 600px auto;
   }
}


#header #webHeaderLinks {
    float: right;
    width: 600px;
    height: 100px;
    text-align: right;
    background: url(../images/header_amt.jpg) no-repeat top right !important;
}
